body {
	text-align: center;
	font-family: verdana;
	font-size: 16px;
}

.colouredsquare {
	min-height: 55px;
	min-width: 55px;
	max-width: 55px;
	text-align: center;

	border-right: thin solid #000000;
	border-left: thin solid #000000;
	border-bottom: thin solid #000000;
	border-top: thin solid #000000;
}

.squarecontainer {
	min-height: 55px;
	max-width: 55px;
	float: left;
	font-size: 11px;

	padding-left: 10px;
	padding-top: 7.5px;
		
}
/*
.square_area {
	/*width: 95%;
	height: 100%;*/
	/*padding-left: 1%;*/
	/*margin: auto;*/

		
	border-right: thin solid #000000;
	border-left: thin solid #000000;
	border-bottom: thin solid #000000;
	border-top: thin solid #000000;
}
*/