/* colour palette: http://paletton.com/#uid=62x1m0kd5emh-qXgokNcf9acf5r */
:root {
    /* green and yellow */
    /*
    --body-background-colour: #364229;
    --backlayer-background-colour: #719649;
    */
    /*--backlayer-background-colour: rgba(150,150,150,0.5);*/
    --backlayer-background-colour: white;
    --warning-colour: #b80000;
    --hover-colour: #b80000;
    --active-colour: #ff0505;
    --element-colour: white;
}

body {
    /*background-color: lightblue;*/
    background-attachment: fixed;
    /*background-color: white;*/
    text-align: center;
    font-family: verdana;
    font-size: 16px;
}

.backlayer {
    position: fixed;
    z-index: -100;
    background-color: var(--backlayer-background-colour);
    min-height: 100vh;
    width: 1152px;
    margin: 0 auto;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    border-left: solid 1px #b80000;
    border-right: solid 1px #b80000;
}

.inputwrap input, textarea {
    text-align: center;
    font-family: verdana;
    font-size: 16px;
}

.inputwrap #templatebox {
    width: 1000px;
}

.inputwrap #error {
    color: var(--warning-colour);
    word-wrap: break-word;
    margin: 0 auto;
    width: 60em;
}

.main_area {
    padding-bottom: 10px;
}

.history {
    width: 1152px;
    margin: 0 auto;
    border-top: thin solid #000000;
    height: auto;
}

.history .history_header {
    display: inline-block;
    background-color: var(--element-colour);
    width: inherit;
    border-bottom: thin solid #000000;
}

.history .history_list {
    border-top: thin dotted #000000 0px;
    border-bottom: thin solid #000000;
    display: none;
    word-wrap: break-word;
    min-height: 20px;
    overflow: hidden;
    padding-top: 18px;
    padding-bottom: 18px;
    max-height: 1250px; 
    overflow: auto;
}

.history_list .history_record {
    margin: 0 auto;
    /*float: left;*/
    /*padding-left: 84.5px;*/
    /*padding: 20px;*/
    /*width: 272px;*/
    width: 90em;
    /*text-overflow: ellipsis;*/

    font-size: 12px;
    border-bottom: thin dashed;
    padding-bottom: 4px;
}

.history_record .log_label {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    float: left;
    width: 75%
    
}

.history_record .log_export {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
    float: left;
    width: 25%;
}

.history_record p {
    border: thin dotted #000000;
    padding: 10px;
    background-color: white;
    text-align: left;
    max-height: 200px;
    overflow: auto;
    white-space: pre-line;
    font-family: consolas;
}

.history_list:empty:before {
    content: "Nothing here...";
    color: darkgrey;
    text-align: center;
}

#custom_button {
    margin: 0 auto;
    width: 100px;
    padding: 5px;

    text-align: center;
    border: thin solid #000000;

    /*make it so text in the button cannot be selected*/
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    cursor: default;
    user-select: none;
    background-color: var(--element-colour);
}

/* ------------------------------------- */
/* main doc page css */
/* ------------------------------------- */

.content_backlayer {
    position: fixed;
    z-index: -99;
    min-height: 80%;
    width: 976px;
    
    margin: 0 auto; /*center*/
    left: 0;
    right: 0;
    bottom: 0;
    
}
.doc {
    /*width: 44.68%%;*/
    /*border-top: thin solid #000000;*/
    font-family: verdana;
}

.content .accordion_icon {
    text-align: center;
    float: right;
    display: inline;
    width: 30px;
}

.content h4 {
    text-align: center !important;
    display: inline;
    padding-left: 30px;
}

.doc div *{
    text-align: justify;
    margin: 0 auto;
    width: 60em; 
    /*padding-left: 800px;*/
    /*padding-right: 800px;*/ /*this solution doesn't scale very well*/
}

.content, .doc .intro  {
    padding: 8px;

    border-right: thin solid #000000;
    border-left: thin solid #000000;
    border-bottom: thin solid #000000;

    text-align: center;
    margin: 0 auto;
    width: 60em;
    
    background-color: var(--element-colour);
}

.content .content_body {
    display: none;
    position: relative;
    
    background-color: white !important;
    color: black !important;
    
    z-index: 100;
    
    padding-top: 10px;
  padding-bottom: 10px;
    margin-top:11px;
    
    word-wrap: break-word;
    width: 97%;
    
    border: thin solid #000000;
}

.content .content_body p {
  width: 95%;
}

a {
    color: var(--active-colour);
}

p, li, label {
    /*color: darkgrey;*/
}

h1, h3, h4 {
    letter-spacing: 0.75px;
    /*color: darkgrey;*/
}

.content_body p, .content_body li, .content h4, .history_header h4, .history_record p {
    color: unset;
    letter-spacing: unset;
}
/* ------------------------------------- */
/* general page element css */
/* ------------------------------------- */

#custom_button:hover, .history_header:hover, .content:hover {
  background-color: var(--hover-colour);
    color: white !important;
}

#custom_button:active, .history_header:active, .content:active {
  background-color: var(--active-colour);
    color: black !important;
}

.content h4, .accordion_icon {
    pointer-events: none;
}